.bg-secondary {
  background-color: #EDEEF3 !important;
}

.text-primary {
  color: black !important;
}
.nav-item{
  margin: 0 1rem;
}
.nav-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #0e1133 !important;
}



